/* styles for the "meta data" section on upload_assignment.jsp */
.metaWrapper {
  border-spacing: 12px 0;
}
.metaSection {
  display: flex;
  padding: 9px 9px 9px 0;
  vertical-align: top;
  white-space: nowrap;
  max-width: fit-content;
}
/* for overriding elements previously tagged with nowrap, such as .metaSection */
.normalWrap {
  white-space:normal !important;
}
.blockElement {
  display: block;
}
.metaLabel {
  padding: 0 0 6px;
  font-weight: bold;
  text-align: left;
}
.metaField {
  text-align: left;
}

.docviewer_iframe_embed, .submission.text {
  min-height: 950px;
}

.inlineOptions, .inlineOptions div {
 display: inline;
}

/* embedded audio and video wrapper for submission_view.jspf */
.mediaWrapper {
  position: relative;
}
.mediaWrapper .mediaFilename {
  background-color: #ffffff;
  font-weight: bold;
  padding: 5px;
}
.mediaWrapper video {
  width: 100%;
  object-fit: scale-down;
}
.mediaWrapper audio {
  width: 100%;
}
#dataCollectionContainer {
  display: grid;
  grid-template-columns: 20% 25% 25% 30%;
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}
#step1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
#step2 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
}
#step3 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
#step4 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}
#step5 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
}
.submitStepBottom .submitStepFixed {
  grid-area: 4 / 1 / span 1 / span 7;
  background-color: #ffffff;
}
.submitStepBottom {
  background-color: #eee;
  border: 1px solid #cdcdcd;
  box-shadow: 0 -5px 4px -3px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 -5px 4px -3px rgba(0, 0, 0, 0.13);
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 10%;
  right: 10%;
  width: auto;
}
div[id*="step"] {
  border-top: none;
  border-bottom: none;
}
/* For mobile phones and tablets: */
@media only screen and (max-width: 768px) {
  #dataCollectionContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
  }
  .metaSection input[type="button"] {
    margin-top: 0;
  }
  #step1 {
    grid-column: 1;
    grid-row: 1;
  }
  #step2 {
    grid-column: 1;
    grid-row: 2;
  }
  #step3 {
    grid-column: 1;
    grid-row: 3;
    padding-bottom: 4rem;
  }
  #step4 {
    grid-column: 1;
    grid-row: 4;
    padding-bottom: 4rem;
  }
  #step5 {
    grid-column: 1;
    grid-row: 5;
    padding-bottom: 4rem;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1024px){
  .submitStepBottom{
    left: 5%;
    right: 5%;
    width: auto !important;
  }
  #step3, #step4, #step5{
    padding-bottom: 4rem;
  }
}
/* For Desktop and small screens: */
@media only screen and (min-width: 769px) and (max-width: 1024px){
  #dataCollectionContainer {
    display: grid;
    grid-template-columns: 10% 25% 25% 40%;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
  }
  #step3, #step4, #step5{
    padding-bottom: 4rem;
  }
}
@media only screen and (max-width: 280px){
  .submitStepBottom {
    position: relative;
  }
}
div.label {
  width: max-content;
}
/* Icons */
img {
  height: fit-content;
  align-self: center;
  padding-right: 1rem;
}
.selfAlign img {
  align-self: flex-start;
}
#rubricIconId {
  height: 1.5rem;
}

/* drag and drop file for file picker */
#globalNavPageContentArea .dropzone, li.dropzone {
  padding: 2em !important;
}

.collapsibleStepContent {
  padding-top: 1em;
  padding-bottom: 0.1em;
}

/* Bolding labels for the section "Assignment Information" */
.stepcontent ol li div.label {
  font-weight: bold;
}
/* Bolding Group name subtitle */
.metaSection.specificForGroupName {
  font-weight: bold;
}